.header {
  padding-bottom: 50px;

  &__top-tablet {
    display: none;
  }

  &__top-wrapper {
    background-color: var(--grey-light);
  }

  &__top {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }

  &__region-and-number {
    display: flex;
  }

  &__middle {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
  }

  &__bottom {
    display: flex;
    align-items: center;
  }

  &__phone {
    margin-left: 20px;
    padding: 2px;
    min-width: 147px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
    color: var(--secondary);
    background-color: transparent;
    transition: color .2s ease-in-out;
    transition: background-color .2s ease-in-out;

    & svg {
      width: 22px;
      height: 22px;
      fill: var(--secondary);
      transition: fill .2s ease-in-out;
    }

    &:hover {
      color: var(--secondary-light);

      & svg {
        fill: var(--secondary-light);
      }
    }

    &:focus {
      color: var(--secondary);
      background-color: var(--bone);

      & svg {
        fill: var(--secondary);
      }
    }

    &:active {
      color: var(--secondary-shade);

      & svg {
        fill: var(--secondary-shade);
      }
    }
  }

  &__logo {
    margin-right: auto;
    display: flex;
    &:focus {
      background-color: var(--primary-light);
    }
  }

  &__personal-desktop {
    margin-left: auto;
  }

  &__logo--mobile {
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
}

.personal {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100px;

  &__user {
    & svg {
      padding: 3px;
      width: 32px;
      height: 34px;
      background-color: transparent;
      fill: var(--primary);
      transition: fill .2s ease-in-out;
      transition: background-color .2s ease-in-out;
    }

    &:hover {
      & svg {
        fill: var(--primary-light);
      }
    }

    &:focus {
      & svg {
        fill: var(--white);
        background-color: var(--primary-light);
      }
    }

    &:active {
      & svg {
        fill: var(--primary-shade);
      }
    }
  }

  &__basket {
    position: relative;
    padding-left: 10px;

    & svg {
      padding: 3px;
      width: 32px;
      height: 34px;
      background-color: transparent;
      fill: var(--primary);
      transition: fill .2s ease-in-out;
      transition: background-color .2s ease-in-out;
    }

    &:hover {
      & svg {
        fill: var(--primary-light);
      }
    }

    &:focus {
      & svg {
        fill: var(--white);
        background-color: var(--primary-light);
      }
    }

    &:active {
      & svg {
        fill: var(--primary-shade);
      }
    }

    &--number {
      padding: 2px;
      padding-left: 5px;
      position: absolute;
      top: 10px;
      left: 0;
      width: 15px;
      height: 15px;
      font-weight: 700;
      font-size: 10px;
      line-height: 100%;
      color: var(--white);
      background-color: var(--secondary);
      border-radius: 50%;
    }
  }
}

.header__region-and-number--mobile,
.header__personal-tablet,
.header__personal-phone,
.burger {
  display: none;
}

.region-filter {
  display: flex;
  align-items: center;

  & span {
    font-size: 16px;
    line-height: 120%;
    color: var(--black);
  }


  // ==== choices =====
  & .choices__inner {
    padding: 2px;
    padding-right: 10px;
    padding-bottom: 0;
    min-height: fit-content;
    font-size: 16px;
    line-height: 120%;
    color: var(--primary);
    background-color: transparent;
    border: none;

    &:hover {
      color: var(--primary-light);
    }
  }

  & .is-focused {
    color: var(--primary-shade);
    background-color: var(--pink-violet);
  }

  .choices__list--single {
    margin-top: 4px;
    padding-right: 20px;
  }

  .choices__item.is-selected {
    display: none;
  }

  & .choices__list--dropdown {
    margin-top: 5px;
    width: 85px;
    padding: 15px;
    font-size: 14px;
    line-height: 130%;
    color: var(--black);
    border: 2px solid inherit;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
  }

  & .choices[data-type*=select-one]:after {
    width: 13px;
    height: 8px;
    background-image: url(../../img/city-arrow.svg);
    // background-position: center;
    background-repeat: no-repeat;
    border: none;
    transition: transform .2s ease-in-out;
  }

  & .choices[data-type*=select-one].is-open:after {
    margin-top: 1px;
    transform: rotate(180deg);
  }

  & .choices__list--dropdown .choices__item,
  .choices__list[aria-expanded] .choices__item {
    padding: 0;
  }

  & .choices__list--dropdown .choices__item,
  .choices__list[aria-expanded] .choices__item:not(:last-child) {
    margin-bottom: 11px;
  }

  & .choices[data-type*=select-one] .choices__inner {
    padding-bottom: 3px;
  }

  & .choices__list--dropdown .choices__item--selectable,
  .choices__list[aria-expanded] .choices__item--selectable {
    padding-right: 0;
  }

  & .choices__list--dropdown .choices__item--selectable.is-highlighted,
  .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: transparent;
    color: var(--primary);
  }
}

.nav1 {
  &__list {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 64px;
    }
  }

  &__link {
    padding: 3px 8px;
    font-size: 14px;
    line-height: 14px;
    color: var(--grey);
    background-color: transparent;
    transition: color .2s ease-in-out;
    transition: background-color .2s ease-in-out;

    &:hover {
      color: var(--primary);
    }

    &:focus {
      color: var(--primary-shade);
      background-color: var(--pink-violet);
    }

    &:active {
      color: var(--primary-shade);
      background-color: transparent;
    }
  }
}

.nav2 {
  &__list {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 65px;
    }
  }

  &__link {
    padding: 3px 11px;
    font-size: 16px;
    line-height: 22px;
    color: var(--black);
    background-color: transparent;
    transition: color .2s ease-in-out;
    transition: background-color .2s ease-in-out;

    &:hover {
      color: var(--primary);
    }

    &:focus {
      color: var(--black);
      background-color: var(--pink-violet);
    }

    &:active {
      color: var(--primary-shade);
      background-color: transparent;
    }
  }
}

.search {
  margin-right: 120px;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__form {
    padding-left: 34px;
    padding-right: 32px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--grey-light);
    border: 2px solid transparent;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: background-color .2s ease-in-out;
    transition: border-color .2s ease-in-out;

    &:hover {
      background-color: var(--md-grey);
    }

    &:focus {
      border-color: var(--primary);
    }
  }

  &__input-with-svg {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;

    &>svg {
      margin-right: 6px;
      width: 20px;
      height: 20px;
      fill: var(--grey);
    }

    &:active {
      &>svg {
        fill: var(--primary);
      }
    }
  }

  &__input {
    font-size: 16px;
    line-height: 120%;
    color: var(--black);
    background-color: inherit;
    border: none;

    &::placeholder {
      font-size: 16px;
      line-height: 120%;
      color: var(--grey);
    }

    &:focus-within+svg {
      fill: var(--primary);
    }
  }

  &__btn {
    min-width: 32px;
    height: 32px;
    border: 2px solid var(--primary);
    border-radius: 100%;
    background-image: url(../../img/arrow_right.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image .2s ease-in-out;
    transition: border-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;

    &:hover {
      background-color: var(--primary);
      background-image: url(../../img/arrow_white.svg);
    }

    &:focus {
      background-color: var(--primary-light);
      background-image: url(../../img/arrow_white.svg);
    }

    &:active {
      border-color: var(--primary-shade);
      background-color: var(--primary-shade);
      background-image: url(../../img/arrow_white.svg);
    }
  }

  // ===== choices =====
  & .choices {
    display: flex;
    align-items: center;
    width: 300px;
    height: 100%;
    border: 2px solid var(--grey-light);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: border-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;

    &:hover {
      border-color: var(--primary);
    }

    &.is-focused {
      border-color: var(--primary);
      background-color: var(--pink-violet);
    }

    &:active {
      border-color: var(--primary-shade);
    }
  }

  & .choices__inner {
    padding-left: 32px;
    padding-right: 24px;
    padding-bottom: 0;
    min-height: fit-content;
    font-size: 16px;
    line-height: 120%;
    color: var(--primary);
    background-color: transparent;
    border: none;

    &:hover {
      color: var(--primary-light);
    }

    &:focus {
      color: var(--primary-shade);
      background-color: var(--pink-violet);
    }
  }

  .choices__item.is-selected {
    display: none;
  }

  & .choices__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 200px;
  }

  & .choices__list--dropdown {
    max-width: 100%;
    z-index: 100;
    padding-top: 22px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    line-height: 130%;
    color: var(--black);
    border: 2px solid inherit;
  }

  & .choices__list--dropdown,
  .choices__list[aria-expanded] {
    border: 2px solid var(--grey-light);
  }

  & .choices[data-type*=select-one]:after {
    width: 13px;
    height: 8px;
    background-image: url(../../img/city-arrow.svg);
    // background-position: center;
    background-repeat: no-repeat;
    border: none;
    transition: transform .2s ease-in-out;
  }

  & .choices[data-type*=select-one].is-open:after {
    margin-top: 1px;
    transform: rotate(180deg);
  }

  & .choices__list--dropdown .choices__item,
  .choices__list[aria-expanded] .choices__item {
    padding: 0;
  }

  & .choices__list--dropdown .choices__item,
  .choices__list[aria-expanded] .choices__item:not(:last-child) {
    margin-bottom: 10px;
  }

  & .choices[data-type*=select-one] .choices__inner {
    padding-bottom: 0;
  }

  & .choices__list--dropdown .choices__item--selectable,
  .choices__list[aria-expanded] .choices__item--selectable {
    padding-right: 0;
  }

  & .choices__list--dropdown .choices__item--selectable.is-highlighted,
  .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: transparent;
    color: var(--primary);
  }
}

@media (max-width: 1215px) {
  .header {
    padding-bottom: 32px;

    &__top-tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 58px;
    }

    &__region-and-number {
      display: none;
    }

    &__personal-desktop {
      display: none;
    }

    &__personal-tablet {
      display: flex;
    }
  }

  .nav2 {
    &__item {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}

@media (max-width: 950px) {
  .header {
    &__personal-tablet {
      display: none;
      margin: 0;
    }

    &__personal-phone {
      display: flex;
    }

    &__middle {
      position: relative;
      justify-content: space-between;
      flex-direction: row-reverse;
    }

    &__logo {
      margin: 0;
    }
  }

  .top-line,
  .mid-line,
  .bot-line {
    transition: transform .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    transition: margin-right .2s ease-in-out;
  }

  .burger {
    display: block;
    align-self: center;

    &__btn {
      position: relative;
      z-index: 100;
      display: flex;
      width: 24px;
      height: 24px;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      & span {
        width: 100%;
        height: 3px;
        background-color: var(--primary);
      }

      &.active {
        margin-bottom: 15px;

        & .top-line {
          transform: translateY(10px) rotate(-45deg);
          transition: transform .2s ease-in-out;
        }

        & .mid-line {
          margin-right: 10px;
          opacity: 0;
          transition: opacity .2s ease-in-out;
          transition: margin-right .2s ease-in-out;
        }

        & .bot-line {
          transform: translateY(-10px) rotate(45deg);
          transition: transform .2s ease-in-out;
        }
      }

      &:hover {
        & span {
          background-color: var(--primary-light);
        }
      }

      &:focus {
        background-color: var(--primary-light);
        padding: 2px;
        & span {
          background-color: var(--white);
        }
      }

      &:active {
        background-color: transparent;
        & span {
          background-color: var(--primary-shade);
        }
      }
    }

    &__menu {
      visibility: hidden;
      z-index: 10;
      position: absolute;
      top: 0;
      left: -150%;
      height: 300px;
      width: 100%;
      transition: left .2s ease-in-out;

      &.open {
        visibility: visible;
        left: 0;
      }
    }

    &__nav {
      padding-top: 80px;
      padding-bottom: 60px;
      width: 100%;
      background-color: var(--white);
      display: flex;
      justify-content: space-between;

      & img {
        margin-top: auto;
        width: 161px;
        height: 112px;
      }
    }

    &__list {
      width: 288px;
      column-count: 2;
    }

    &__item {
      margin-bottom: 50px;
    }

    &__link {
      font-style: 16px;
      line-height: 100%;
      color: var(--black);
      background-color: transparent;
      transition: color .2s ease-in-out;
      transition: background-color .2s ease-in-out;

      &:hover {
        color: var(--primary);
      }

      &:focus {
        color: var(--black);
        background-color: var(--pink-violet);
      }

      &:active {
        color: var(--primary-shade);
        background-color: transparent;
      }
    }

    &__nav--mobile {
      display: none;
    }
  }

  .nav1 {
    width: 100%;

    &__item:not(:last-child) {
      margin-right: auto;
    }
  }

  .nav2 {
    display: none;
  }
}

@media (max-width: 750px) {
  .header {
    &__nav1 {
      display: none;
    }

    &__logo {
      display: none;
    }

    &__logo--mobile {
      display: block;
    }

    &__bottom {
      padding-top: 16px;
    }
  }

  .search {
    margin-right: 0;
    flex-direction: column;
    height: 136px;
    width: 100%;

    &__form {
      margin-bottom: 16px;
      border-radius: 10px;
    }

    & .choices {
      width: 100%;
      border-radius: 10px;
    }
  }
}

@media (max-width: 400px) {
  .header {
    &__middle {
      padding-top: 10px;
      padding-bottom: 10px;
      border-top: 1px solid var(--grey-light);
      border-bottom: 1px solid var(--grey-light);
    }

    &__top-tablet {
      display: none;
    }

    &__phone {
      margin-left: 0;
      width: fit-content;
    }

    &__region-and-number--mobile {
      padding: 17px;
      display: block;
    }
  }

  .search {
    &__input {
      max-width: 150px;
    }
  }

  .burger {
    &__menu {
      height: 533px;
    }

    &__nav {
      padding-top: 60px;
      padding-bottom: 0;

    }

    &__list {
      margin-bottom: 30px;
      column-count: 1;
    }

    &__item:last-child {
      margin-bottom: 0px;
    }

    &__nav--mobile {
      display: flex;
    }

    & img {
      display: none;
    }
  }

  .nav1 {
    height: 108px;
    align-self: end;
    background-color: var(--grey-light);

    &__list {
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}
