.high-rating {
  padding-top: 35px;
  padding-bottom: 70px;

  &__title {
    margin-bottom: 26px;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    color: var(--black);
  }

  &__grid {
    margin-bottom: 32px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;

    height: auto;
  }

  &__special-card {
    & .special-card {
      &__rating {
        font-size: 16px;
        line-height: 130%;
        color: var(--secondary);

        & svg {
          margin-right: 6px;
          height: 15px;
          width: 15px;
        }
      }

      &__title {
        margin-bottom: 0;
        height: auto;
      }

      &__old-price {
        margin-bottom: 30px;
        display: block;
        text-decoration: none;
      }
    }
  }

  &__btn {
    margin-left: auto;
    margin-right: auto;
    padding: 22px 36px;
    display: flex;
  }
}

@media (max-width: 1200px) {
  .high-rating {
    &__grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 800px) {
  .high-rating {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 500px) {
  .high-rating {
    &__title {
      font-size: 24px;
    }

    &__grid {
      gap: 16px;
    }

    &__special-card {
      padding: 16px;
      min-height: 278px;

      & .special-card {
        &__rating {
          font-size: 12px;
          line-height: 130%;
          color: var(--secondary);

          & svg {
            margin-right: 6px;
            height: 12px;
            width: 12px;
          }
        }

        &__title {
          margin-bottom: 24px;
          font-size: 16px;
          height: auto;
        }

        &__old-price {
          margin-bottom: 24px;
          display: block;
        }

        &__btn {
          padding: 12px 25px;
        }
      }
    }

    &__btn {
      margin-left: auto;
      margin-right: auto;
      padding: auto;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
