.oxford {
  &__wrapper {
    min-height: 600px;
    width: 100%;
    background-image: url(../../img/oxford_bg.jpg);
    background-position: center;
    background-size: cover;
  }

  &__container {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  &__title {
    font-family: 'Playfair';
    font-size: 60px;
    line-height: 120%;
    color: var(--gold);
  }
  &__desc {
    margin-bottom: 70px;
    max-width: 500px;
    font-size: 48px;
    line-height: 120%;
    color: var(--white);
  }
  &__btn {
    padding: 22px 32px;
    &--mobile {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  .oxford {
    &__wrapper {
      margin-bottom: 32px;
      min-height: 210px;
      background-image: url(../../img/oxford_bg_mobile.jpg);
    }
    &__container {
      padding-top: 30px;
      padding-bottom: auto;
    }
    &__title {
      font-size: 24px;
      line-height: 29px;
    }
    &__desc {
      max-width: 190px;
      font-size: 20px;
    }
    &__btn {
      display: none;
      &--mobile {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }

  }
}
